<h1 class="page-title/f">写真一覧</h1>
<div class="photos-grid">
  <% @photos.each do |photo| %>
    <% shop = photo.record %>
    <div class="photo-card">
 <%= link_to shop_path(shop), class: "photo-link" do %>
        <div class="photo-thumb">
          <%= image_tag photo %>
</div>
        <div class="photo-meta">
          <div class="photo-shop-name"><%= shop.name %></div>
          <div class="photo-shop-address">📍 <%= shop.address %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

